/*
Global
*/

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
  font-family: "Raleway", sans-serif;
  display: flex;
  flex-direction: column;
  margin: 0;
}

body > * {
  padding-left: 2.5%;
  padding-right: 2.5%;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

p {
  margin: 5px;
}

@media only screen and (max-width: 600px) {
  body {
    width: 100%;
  }
  
  body > * {
    padding: 0;
  }
}

/*
* Global properties
*/

.row-flex {
  display: flex;
}

.rounded {
  border-radius: 25px;
}

.blue {
  color: #0065fc;
}

.light-blue {
  color: #DEEBFF;
}

.grey {
  color: #f2f2f2;
}

.bg-blue {
  background-color: #0065fc;
}

.bg-light-blue {
  background-color: #DEEBFF;
}

.bg-grey {
  background-color: #f2f2f2;
}

.bold {
  font-weight: 600;
}

.section-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 25px;
  font-weight: 700;
  margin: 0;
}

/* 
* Header
*/

nav {
  display: flex;
  justify-content: space-between;
}

nav.mobile {
  display: none;
}

.logo {
  padding-top: 40px;
}

@media only screen and (max-width: 600px) {
  nav {
    flex-direction: column;
    align-items: flex-start;
  }
  
  nav.desktop {
    display: none;
  }
  
  nav.mobile {
    display: flex;
    flex-direction: column;
  }
  
  .top-nav {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  
  .logo {
    padding-top: 0;
  }
}

/*
Navbar
*/

.navbar {
  display: flex;
}

.navbar li {
  margin-top: 0;
  padding: 30px;
  padding-top: 50px;
}

.active {
  border-top: 3px solid #0065fc;
}

.active a {
  color: #0065fc;
}

.anchor {
  display: flex;
}

.register {
  color: #0065fc;
  font-weight: bold;
}

@media only screen and (max-width: 600px) {
  .navbar {
    flex-direction: column;
  }
  
  .anchor {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  
  .anchor li {
    border-bottom: 3px solid #f2f2f2;
    padding-bottom: 15px;
  }
  
  .anchor li.active {
    border-top: 0;
    border-bottom: 3px solid #0065fc;
  }
}

/*
* Filters & recherche
*/

#search {
  display: flex;
  flex-direction: column;
  margin: 25px;
}

.filters {
  display: flex;
  align-items: center;
  font-weight: 800;
  margin-bottom: 10px;
}

.chips-group {
  display: flex;
  flex-direction: row;
}

@media only screen and (max-width: 600px) {
  .filters {
    align-items: flex-start;
    flex-direction: column;
  }
  .chips-group {
    margin-left: 0;
    flex-direction: row;
    flex-wrap: wrap;
  }
}

@media only screen and (min-width: 600px) and (max-width: 992px) {
  .chips-group {
    flex-wrap: wrap;
  }
}

/*
Chips
*/

.chips {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 2px solid lightgrey;
  border-radius: 50px;
  margin: 15px;
}

.chips:hover {
  box-shadow: 3px 3px 6px rgba(0,0,0,0.16);
}

.chips-icon {
  background-color: #DEEBFF;
  color: #0065fc;
  padding: 1em;
  border-radius: 100%;
}

.chips-content {
  margin-left: 10px;
  margin-right: 15px;
}


@media only screen and (max-width: 600px) {
  .chips {
    margin: 0;
    margin-top: 10px;
    margin-right: 5px;
  }
}

/*
Input-Group
*/

.input-group {
  display: flex;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.input-group .input-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f2f2f2;
  border-radius: 15px 0 0 15px;
  font-size: 20px;
  height: 50px;
  width: 50px;
}

.input-group input {
  border: 1px solid #f2f2f2;
  height: 46px;
  font-size: 16px;
  font-weight: 700;
  padding-left: 10px;
}

.input-group button {
  border: none;
  background-color: #0065fc;
  color: white;
  border-radius: 0 15px 15px 0;
  font-size: 16px;
  padding: 10px;
  font-weight: 700;
  height: 50px;
}

.input-group button:hover {
  box-shadow: 3px 3px 6px rgba(0,0,0,0.16);
}

.input-group .desktop {
  display: inline-block;
}

.input-group .mobile {
  display: none;
}

@media only screen and (max-width: 600px) {
  .input-group {
    width: 100%;
  }

  .input-group .input-icon {
    padding-left: 15px;
    padding-right: 17px;
  }
  
  .input-group button {
    padding-left: 17px;
    padding-right: 17px;
    border-radius: 15px;
  }
  
  .input-group input {
    width: 100%;
  }
  
  .input-group .mobile {
    display: flex;
    align-items: center;
  }
  
  .input-group .desktop {
    display: none;
  }
}

/*
Info-Container
*/

.info-container {
  display: flex;
  align-items: center;
}

.info-container i {
  margin-right: 10px;
  color: #0065fc;
  border: 1px solid lightgrey;
  border-radius: 100%;
  font-size: 12px;
  padding: 5px 9px 5px 9px;
}

/*
* Hébergement et plus populaires et activite
*/

#heberge, #popular {
  padding: 40px;
  border-radius: 25px;
  background-color: #f2f2f2;
}

#hebergement {
  display: flex;
  justify-content: center;
  gap: 50px;
  flex-wrap: wrap;
}

#activite {
  margin-top: 50px;
  margin-bottom: 50px;
}

#activite .section-title {
  padding-bottom: 20px;
}

.more {
  padding-top: 4px;
}

@media only screen and (max-width: 600px) {
  #heberge, #popular {
    padding: 40px 20px;
    border-radius: 0;
  }

  #hebergement {
    flex-direction: column;
  }
  
  #heberge {
    background-color: #FFFFFF;
  }
  
  #popular {
    order: -1;
  }
  
  #activite {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 40px 20px;
  }
}

@media only screen and (max-width: 992px) {
  #hebergement {
    flex-direction: column;
  }

  #heberge {
    background-color: #FFFFFF;
  }

  #popular {
    order: -1;
  }
}

/*
Cards
*/

.card {
  display: flex;
  background-color: white;
  border-radius: 20px;
  margin: 5px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16);
  margin-right: 20px;
  margin-bottom: 20px;
}

.card-media {
  background-size: cover;
  background-position: 50%;
}

.card-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 5px;
}

.card-title {
  font-weight: 700;
}

.card-rate {
  display: flex;
}

/*
Card Type
*/

.cards-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 20px;
  margin-bottom: 20px;
}

.card-flex {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.card-row {
  max-width: 500px;
  padding: 5px;
}

.card-col {
  flex-direction: column;
  max-width: 250px;
  padding: 5px;
}

.card-activite {
  flex-direction: column;
  max-width: 300px;
}

.card-big {
  grid-row: span 2;
}

@media only screen and (max-width: 600px) {
  .cards-grid {
    display: flex;
    flex-direction: column;
  }

  .card {
    max-width: 100%;
  }
}

@media only screen and (min-width: 600px) and (max-width: 992px) {
  .card-row {
    width: 100%;
  }

  .card-flex {
    align-items: center;
  }

  .cards-grid {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
  }

  .card-activite {
    width: 100%;
  }
}

/* 
Card-Media
*/

.card-col .card-media {
  border-radius: 15px 15px 0 0;
  width: 250px;
  height: 115px;
}

.card-row .card-media {
  border-radius: 15px 0 0 15px;
  width: 125px;
  height: 140px;
}

.card-activite .card-media {
  border-radius: 15px 15px 0 0;
  height: 160px;
}

.card-big .card-media {
  height: 400px;
}

@media only screen and (max-width: 600px) {
  .card-col .card-media {
    width: 100%;
  }
  
  .card-big .card-media {
    height: 130px;
  }

  .card-activite .card-media {
    height: 130px;
  }
}

@media only screen and (min-width: 600px) and (max-width: 992px) {
  .card-row .card-media {
    width: 40%;
  }

  .card-big .card-media {
    height: 160px;
  }
}


/*
Card-Content
*/


.card-col .card-content > div {
  padding: 5px;
}

.card-row .card-content {
  width: 150px;
  padding-left: 10px;
}

.card-activite .card-content {
  padding: 10px;
}

/*
Card-Main
*/

.card-col .card-main {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.card-row .card-main > div {
  padding: 5px;
}

/* 
Card-title
*/

.card-title {
  font-weight: bolder;
}

/*
Card-text
*/

.card-row .card-text {
  font-size: 12px;
}

/*
Card-rate
*/

.card-rate {
  display: flex;
}

.card-rate > i {
  font-size: 12px;
}

/*
* ********
*/

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

@media only screen and (max-width: 600px) {
  .grid {
    display: flex;
    flex-direction: column;
  }
}

@media only screen and (min-width: 600px) and (max-width: 992px) {
  .grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}

/* 
Footer
*/

footer {
  padding-top: 2%;
  padding-bottom: 2%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

@media only screen and (max-width: 600px) {
  footer {
    display: flex;
    flex-direction: column;
    padding-left: 30px;
    padding-bottom: 50px;
  }

  footer > div {
    display: flex;
    flex-direction: column;
  }
}

footer li {
  margin-top: 10px;
}