body {
  font-family: "Raleway", sans-serif;
  display: flex;
  flex-direction: column;
  margin: 0;
}

body > * {
  padding-left: 2.5%;
  padding-right: 2.5%;
}

header {
  display: flex;
  justify-content: space-between;
}

nav li {
  margin-top: 0;
  padding: 30px;
}

@media only screen and (max-width: 600px) {
  footer > div {
    display: flex;
    flex-direction: column;
  }
}

@media only screen and (min-width: 992px) {
  footer {
    padding-top: 2%;
    padding-bottom: 2%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}

.bg-grey {
  background-color: #f2f2f2;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  margin-top: 10px;
}

.row-flex {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.col-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#active {
  border-top: 3px solid #0065fc;
}

#active a {
  color: #0065fc;
}

#register {
  color: #0065fc;
  font-weight: bold;
}

/*
--- Color --- 
bleu #0065FC
bleu plus claire #DEEBFF
fond gris #F2F2F2
*/
